/* font-family: 'Asul', sans-serif; semi-serif text*/
/* font-family: 'Kavivanar', cursive; headers and titles*/

body {
    margin: 0;
    font-family: 'Kavivanar', cursive;
}

main {
    display: flex;
    flex-direction: column;
    background-color: mistyrose;
}

header {
    display: flex;
    font-family: 'Asul', sans-serif;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    background-image: url('assets/background-img.png');
}

h1 {
    font-family: 'Asul', sans-serif;
    font-size: 2em;
}

* {
    box-sizing: border-box;
}

.logo {
    height: 20vh;
    margin-left: 20px;
}

.search-bar {
    flex-direction: row;
    padding: 20px;
}

.search-bar select {
    width: 15vw;
    height: 3vw;
    margin: 20px;
    font-family: 'Asul', sans-serif;
    font-size: 1.2em;
}

.search-bar button {
    width: 7vw;
    height: 3vw;
    border-radius: 5px;
    background-color: rebeccapurple;
    color: white;
    font-family: 'Asul', sans-serif;
    font-size: 1.2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;

}

.cards li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 15px;
    color: black;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 2em;
    margin: 0;
}

p {
    margin: 0;
}

.img-contain {
    height: 55%;
}

.img-contain img {
    height: 100%;
    object-fit: contain;
}
