/* font-family: 'Asul', sans-serif; semi-serif text*/
/* font-family: 'Kavivanar', cursive; headers and titles*/

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-start;
    font-family: 'Kavivanar', cursive;
    font-size: 1.5em;
    background-color: gray;
    padding: 15px;
}

.logo {
    height: 15vh;
}

.search-bar {
    flex-direction: row;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;

}

.cards li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 15px;
    color: white;
    background-color: black;
    margin: 10px;
}

.img-contain {
    height: 50%;
}

.img-contain img {
    height: 100%;
    object-fit: contain;
}
